.odd-numbers {
    color: #000000;
    background-color: #fcb0b1;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.fs-24 {
    font-size: 24px;
}

#bluebig {
    color: #0000ff;
    font-size: 36px;
}

#greenbold {
    background-color:#78e178;
    font-weight: bold;
}