@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  text-align: center;
  justify-content:space-between;

  display:flex;
  justify-content: space-between;
  flex-direction: column;
  gap:50px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:0.5em;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}



.content{
  align-items:center;
  display:flex;
  flex-direction: column;
  gap:10px;
}

.buttons{
  justify-content: center;
  white-space: nowrap;
}

.footer{
  display:flex;
  justify-content: space-between;
}

.header{
  display:flex;
  justify-content: space-between;
}

.left-links,
.right-links{
  width:200px;
  flex: 0 0 auto;

}

ul{
  list-style-type: none;

}

li{
  display:inline;
  padding:8px;
}

a{
  color: #5d5b5b;
  text-decoration: none;

}

.footer{
  background-color: #eeeeee;
}