body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding:8px;
  margin-bottom:10px;
  margin-top: 8px;
}

.content {
  background: #e3f4ff;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left:0.3em;
  padding-right: 0.3em;
  margin-bottom:8px;
}

.button-container {
  background: #e3f4ff;
  padding:10px;
  text-align:center;

}

button {
  background: white;
  border: 1px solid #eee;
  padding:8px;
  display:block;
  margin:auto;
  
}