body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  display:flex;
  flex-direction:column;
}

.header {
  height: 72px;
  line-height: 72px;
  background: darkmagenta;
  color: white;
  text-align: start;
  padding:0px 0px 0px 16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  line-height: 72px;
  text-align: center;

}

.sidebar {
  min-width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding:16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 250px;
  flex:0 0 auto;
  padding:10px;

}

.cardcontainer{
  display:flex;
  flex-wrap: wrap;
  padding:48px;
  gap:15px;
}

a{
  color: #fff;
  text-decoration: none;

}

.linkslist{

  list-style-type: none;
  margin:0;
  padding-inline-start:0;
}

li{
  padding:0em;
  margin:0.5em;
  font-size: 24px;
}

.container{
  display:flex;
}