/* CSS Styles */

.container .text {
    background-color: #fff000;
    color: #ff0000;
    font-size:20px;
    text-align: center;
}

/* div p {
    background-color: #fff000;
    color: #ff0000;
    font-size:20px;
    text-align: center;
} */
 
/* div .text {
    background-color: #fff000;
    color: #ff0000;
    font-size:20px;
    text-align: center;
} */

/* .container p {
    background-color: #00ff59;
    color: #0800ff;
    font-size:28px; 
    text-align: center;
}

div p {
    background-color: #00ff62;
    color: #ff0000;
    font-size:20px; 
    text-align: center;
} */

/* .text p {
    background-color: #3300ff;
    color: #ff0000;
    font-size:20px; 
    text-align: center;
} */

